{% extends "ApplicationLayout.html" %}

{% block body %}
<div class="row-height-space">
</div>
<div class="row-height-space">
</div>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 col-12">
        <h3 class="font-italic">About us:</h3>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 col-12">
        <h6 class="font-italic">BookReviews.com is the site for readers and recommendations. Our goal is to help people find and share books they love.
            BookReviews.com tracks the books ratings,
            reviews and information provided by all readers. BookReviews.com site deals with real time data provided by "goodread" website.</h6>
    </div>
    <div class="col-sm-1">
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 col-12">
        <h6 class="font-italic">To be a part of BookReviews.com, you need to create an account. After that you can login and can do respective activities.
            BookReviews.com have facility to reset credentials in case if you forgot your credentials.
             </h6>
    </div>
    <div class="col-sm-1">
    </div>
</div>



{% endblock %}